* {
  box-sizing: border-box;
}

body {
  height: 100vmin;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 40vh 60vh;
  padding: 10px;
  margin: 10px;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
  padding: 10px;
} */

.payouts {
  display: grid;
  background-color: rgb(0, 12, 86);
  color: rgb(218, 216, 90);
  grid-template-columns: 8fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  line-height: 10px;
  padding: 10px;
  border: 3px solid gold;
  font-size: 1.7vmin;
}

.c1 {
  grid-column-start: 2;
  text-align: center;
}

.c2 {
  grid-column-start: 3;
  text-align: center;
}

.c3 {
  grid-column-start: 4;
  text-align: center;
}

.c4 {
  grid-column-start: 5;
  text-align: center;
}

.c5 {
  grid-column-start: 6;
  text-align: center;
}

.game {
  display: grid;
  background-color: rgb(0, 19, 153);
  grid-row-start: 2;
  grid-template-rows: 1fr 5fr 1fr 3fr;
}

.hold-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -60px;
}

.hold-row p {
  color: black;
  background-color: rgb(222, 200, 73);
  border: 2px solid red;
  font-weight: bold;
}

#yellowButton {
  background-color: rgb(222, 200, 73);
}

#betButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 5vh;
  width: 3vw;
  padding: 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#betBtn,
#betBtnMax {
  color: black;
  background-color: white;
  border: 4px solid black;
  height: 8vmin;
  width: 10vmin;
}

#helpBtn,
#speedBtn,
#dealBtn {
  background-color: rgb(222, 200, 73);
  border: 3px solid black;
  width: 15vmin;
  height: 8vmin;
}

.payout-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#betMessage {
  color: white;
  font-size: 2.75vmin;
  margin-left: 20px;
}

#creditMessage {
  font-size: 3.5vmin;
  color: rgb(157, 31, 20);
  margin-right: 50px;
  -webkit-text-stroke: 0.05vmin gold;
}

#payMessage {
  font-size: 3.5vmin;
  color: rgb(157, 31, 20);
  margin-left: 90px;
  -webkit-text-stroke: 0.05vmin gold;
}

.cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  background-color: rgb(205, 203, 203);
}
