* {
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#payouts {
  background-color: rgb(0, 12, 86);
  color: rgb(218, 216, 90);
  height: 40vmin;
  width: 100vmin;
  border: 1px solid gold;
  align-items: center;
  justify-content: center;
}

#payouts table,
th,
tr {
  border: 1px solid rgb(218, 216, 90);
  width: 100%;
}

.game {
  flex-direction: column;
  background-color: rgb(0, 19, 153);
}

.message-row {
  flex-direction: row-reverse;
}

.message-row h3 {
  color: rgb(141, 38, 32);
  -webkit-text-stroke: 0.5px rgb(255, 194, 85);
}

.message-row h5 {
  color: white;
}

.button-row {
  padding: 10px;
}

#yellowButton {
  background-color: rgb(222, 200, 73);
}

#betButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  height: 5vh;
  width: 3vw;
  padding: 5px;
}

/* POKER CARDS CSS */
